<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "common.html" %}
</head>

<body>
    <div class="container-fluid h-100vh vistaCliente">
        <div class="row h-100">
            <div class="col-3 fondoAzul d-flex flex-column">
                <div class="userIcon text-center mb-5">
                    <i class="bi bi-person-circle"></i>
                </div>
                <nav class="nav userNav flex-column ms-3 mb-auto">
                    <a class="nav-link text-white active" aria-current="page" href="/inicio">Mi perfil</a>
                    <a class="nav-link text-white" href="/mis_solicitudes/">Mis solicitudes</a>
                    <a class="nav-link text-white" href="mis_contratos/">Mis contratos</a>
                    <a class="nav-link text-white" href="/">Cerrar sesión</a>
                </nav>
                <div class="text-center text-white mb-3">
                    <h5 class="companyTitle">LEX</h5>
                </div>
            </div>

            {% if usuario %}
            <div class="col-9">
                {% for user in usuario %}
                <form method="POST" name="formularioModificar">
                    {% csrf_token %}
                    <div class="cuadroInformacion row">
                        <div class="col-3 mb-2">
                            <b>
                                <p>Nombre: </p>
                            </b>
                        </div>
                        <div class="col-9 mb-2">
                            <input type="text" class="form-control br-0" readonly autocomplete="off" id="inpNombre"
                                name="inpNombre" value="{{user.nombre}}" placeholder="nombre">
                        </div>
                        <div class="col-3 mb-2">
                            <b>
                                <p>Apellido paterno: </p>
                            </b>
                        </div>
                        <div class="col-9 mb-2">
                            <input type="text" class="form-control br-0" readonly autocomplete="off" id="inpApellidopa"
                                name="inpApellidopa" value="{{user.appaterno}}" placeholder="apellido paterno">
                        </div>
                        <div class="col-3 mb-2">
                            <b>
                                <p>Apellido materno: </p>
                            </b>
                        </div>
                        <div class="col-9 mb-2">
                            <input type="text" class="form-control br-0" readonly autocomplete="off" id="inpApellidoma"
                                name="inpApellidoma" value="{{user.apmaterno}}" placeholder="apellido materno">
                        </div>
                        <div class="col-3 mb-2">
                            <b>
                                <p>Rut:</p>
                            </b>
                        </div>
                        <div class="col-9 mb-2">
                            <input type="text" class="form-control br-0" readonly autocomplete="off" id="inpRut"
                                name="inpRut" value="{{user.rut}}" placeholder="rut">
                        </div>
                        <div class="col-3 mb-2">
                            <b>
                                <p>Email:</p>
                            </b>
                        </div>
                        <div class="col-9 mb-2">
                            <input type="email" class="form-control br-0" autocomplete="off" id="inpEmail"
                                name="inpEmail" value="{{user.email}}" placeholder="email">
                        </div>
                        <div class="col-3 mb-2">
                            <b>
                                <p>Teléfono:</p>
                            </b>
                        </div>
                        <div class="col-9 mb-2">
                            <input type="text" class="form-control br-0" autocomplete="off" id="inpTelefono"
                                name="inpTelefono" value="{{user.telefono}}" placeholder="teléfono">
                        </div>
                        <div class="col-3 mb-2">
                            <b>
                                <p>Dirección:</p>
                            </b>
                        </div>
                        <div class="col-9 mb-2">
                            <input type="text" class="form-control br-0" autocomplete="off" id="inpDireccion"
                                name="inpDireccion" value="{{user.direccion}}" placeholder="dirección">
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-4 ms-5">
                            <a class="btn btn-secondary w-100" href="/inicio/">Volver</a>
                        </div>
                        <div class="col-5 me-5">
                            <button class="btn btn-blue w-100" type="button" onclick="javascript:void(modificar_informacion())">Editar
                                información</button>
                        </div>
                    </div>
                </form>
                {% endfor %}
                <div style="height: 1rem;">
                    {% if mensaje %}
                    <h6 class="mb-0">{{ mensaje }}</h6>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="modalModificacion" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h4 id="modalModificacionoAdvertencia"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue" data-bs-dismiss="modal">Entiendo</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        var modalModificacion = new bootstrap.Modal(document.getElementById('modalModificacion'), {
            keyboard: false
        });
        var modalModificacionoAdvertencia = document.getElementById('modalModificacionoAdvertencia');
    </script>

</body>

</html>