<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "common.html" %}
</head>

<body>
    <div class="container-fluid h-100vh vistaCliente">
        <div class="row h-100">
            <div class="col-3 fondoAzul d-flex flex-column">
                <div class="userIcon text-center mb-5">
                    <i class="bi bi-person-circle"></i>
                </div>
                <nav class="nav userNav flex-column ms-3 mb-auto">
                    <a class="nav-link text-white active" aria-current="page" href="vista_cliente.html">Mi perfil</a>
                    <a class="nav-link text-white" href="solicitud_cliente.html">Mis solicitudes</a>
                    <a class="nav-link text-white" href="contrato_cliente.html">Mis contratos</a>
                    <a class="nav-link text-white" href="index.html">Cerrar sesión</a>
                </nav>
                <div class="text-center text-white mb-3">
                    <h5 class="companyTitle">LEX</h5>
                </div>
            </div>
            <div class="col-9">
                <div class="cuadroInformacion row">
                    <form action="/modificacion_cliente/" method="get">
                        <div class="col-3">
                            <b>
                                <p>Nombre: </p>
                            </b>
                        </div>
                        <div class="col-9">
                            <p>Natalia Castro</p>
                        </div>
                        <div class="col-3">
                            <b>
                                <p>Rut: </p>
                            </b>
                        </div>
                        <div class="col-9">
                            <p>18.547.292-2</p>
                        </div>
                        <div class="col-3">
                            <b>
                                <p>Email:</p>
                            </b>
                        </div>
                        <div class="col-9">
                            <p><input type="email" class="form-control" placeholder="nombre@ejemplo.com"> </p>
                        </div>
                        <div class="col-3">
                            <b>
                                <p>Teléfono:</p>
                            </b>
                        </div>
                        <div class="col-9">
                            <p>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="txt_tel_mod">+56</span>
                                <input type="number" class="form-control" placeholder="941541284" aria-label="Username"
                                    id="txt_telefono_mod" aria-describedby="basic-addon1">
                            </div>
                            </p>
                        </div>
                        <div class="col-3">
                            <b>
                                <p>Dirección:</p>
                            </b>
                        </div>
                        <div class="col-9">
                            <p>
                                <input type="text" class="form-control" name="txt_direc_mod" id="txt_direc_mod">
                            </p>
                        </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-5 me-5">
                        <button class="btn btn-blue w-100">Editar información</button>
                    </div>
                </div>
            </div>

            </form>

        </div>

    </div>

</body>

</html>